body{
  background-color: black
}

.content{
  background-color: #3d0b52;
  width: 100%;
  height: 20%;
  position:absolute;
  top: 0px;
  left: 0px;
  opacity: .8;
}

.backgr{
  width: 100%;
  height: 660.5px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: .7;
}

.pic{
    width: 10%;
    height: 80%;
    position: absolute;
    top: 15px;
    left: 140px;
}

.text{
  color: white;
  font-size: 40px;
  font-family: arial;
  font-weight:600;
  text-align: center;
  position:absolute;
  top: 0px;
  left: 430px;
}

.ttxt{
  color: white;
  font-size: 20px;
  font-family: arial;
  position: absolute;
  top: 80px;
  left: 430px;
}
.xxx{
  color: white;
  font-size: 20px;
  font-family: arial;
  position: absolute;
  top: 80px;
  left: 710px;
}
.sidecontent{
  background-color: #8f2c8f;
  width: 30%;
  height: 395%;
  position:absolute;
  top: 135px;
  left: 0px;
}
.center{
  background-color: #3d0b52;
  color: white;
  font-size: 20px;
  font-family: arial;
  font-weight: 400;
  text-align: center;
}
.inside{
  color: white;
  font-size: 15.5px;
  font-family: arial;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
}
.personal{
  background-color: #8e2b8e;
  width: 69.8%;
  height: 395%;
  position:absolute;
  top: 135px;
  right: 0px;
}
.person {
  color: white;
  font-size: 25px;
  font-family: arial;
  font-weight: 400;
  text-align: center;
}

.person{
  background-color: #3d0b52;
  width: 45%;
  height: 7%;
  position: absolute;
  top: 55.5px;
  left: 20px;
}

.user{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 120px;
  left: 165px;
}
.grad{
  width: 90px;
  height: 85px;
  position: absolute;
  top: 350px;
  left: 170px;
}

.educ{
  color: white;
  font-size: 25px;
  font-family: arial;
  font-weight: 400;
  text-align: center;
}

.educ{
  background-color: #3d0b52;
  width: 45%;
  height: 7%;
  position: absolute;
  top: 260.5px;
  left: 20px;
}
.ski{
  width: 85px;
  height: 85px;
  position: absolute;
  top: 120px;
  right: 180px;
}
.skills{
  color: white;
  font-size: 25px;
  font-family: arial;
  font-weight: 400;
  text-align: center;
}

.skills{
  background-color: #3d0b52;
  width: 45%;
  height: 7%;
  position: absolute;
  top: 55.5px;
  right: 20px;
}

.part{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 350px;
  right: 170px;
}

.interests{
  color: white;
  font-size: 25px;
  font-family: arial;
  font-weight: 400;
  text-align: center;
}

.interests{
  background-color: #3d0b52;
  width: 45%;
  height: 7%;
  position: absolute;
  top: 260.5px;
  right: 20px;
}

.personcontent{
  background-color: #8f2c8f;
  width: 100%;
  height: 395%;
  position:absolute;
  top: 135px;
  left: 0px;
}
.myinfo{
   color: white;
   font-size: 20.5px;
   font-family: arial;
   font-weight: 600;
   position: absolute;
   top: 30px;
   left: 345px;
 }

 .kim{
   background-color: #3d0b52;
   width: 20%;
   height: 7%;
   position: absolute;
   top: 60px;
   left: 240px;
 }

 .kim{
   color: white;
   font-size: 25px;
   font-family: arial;
   font-weight: 400;
   text-align: center;
 }

 .ttxt{
  color: white;
  font-size: 20px;
  font-family: arial;
  position: absolute;
  top: 80px;
  left: 430px;
}

.add{
   color: white;
   font-size: 20.5px;
   font-family: arial;
   font-weight: 600;
   position: absolute;
   top: 120px;
   left: 330px;
 }

 .area{
   background-color: #3d0b52;
   width: 20%;
   height: 7%;
   position: absolute;
   top: 150px;
   left:240px;
}
 .area{
   color: white;
   font-size: 25px;
   font-family: arial;
   font-weight: 400;
   text-align: center;
 }

 .myday{
    color: white;
    font-size: 20.5px;
    font-family: arial;
    font-weight: 600;
    position: absolute;
    top: 210px;
    left: 320px;
  }
  .date{
    background-color: #3d0b52;
    width: 20%;
    height: 7%;
    position: absolute;
    top:240px;
    left:240px;
  }
  .date{
    color: white;
    font-size: 25px;
    font-family: arial;
    font-weight: 400;
    text-align: center;

  }

  .gender{
   color: white;
   font-size: 20.5px;
   font-family: arial;
   font-weight: 600;
   position: absolute;
   top: 300px;
   left: 330px;

 }
 .female{
   background-color: #3d0b52;
   width: 20%;
   height: 7%;
   position: absolute;
   top:330px;
   left:240px;
 }
 .female{
   color: white;
   font-size: 25px;
   font-family: arial;
   font-weight: 400;
   text-align: center;
 }
 .age{
  color: white;
  font-size: 20.5px;
  font-family: arial;
  font-weight: 600;
  position: absolute;
  top: 395px;
  left: 350px;
}
 .ages{
  background-color: #3d0b52;
  width: 20%;
  height: 7%;
  position: absolute;
  top:420px;
  left:240px;
}
 .ages{
  background-color: #3d0b52;
  width: 20%;
  height: 7%;
  position: absolute;
  top:420px;
  left:240px;
}
.ages{
  color: white;
  font-size: 25px;
  font-family: arial;
  font-weight: 400;
  text-align: center;
}

.height{
  color: white;
  font-size: 20.5px;
  font-family: arial;
  font-weight: 600;
  position: absolute;
  top: 30px;
  right: 460px;
}
.tangkad{
  background-color: #3d0b52;
  width: 20%;
  height: 7%;
  position: absolute;
  top: 60px;
  right: 360px;
}
.tangkad{
  color: white;
  font-size: 25px;
  font-family: arial;
  font-weight: 400;
  text-align: center;
}
.weight{
  color: white;
  font-size: 20.5px;
  font-family: arial;
  font-weight: 600;
  position: absolute;
  top: 120px;
  right: 460px;
}
.kilo{
  background-color: #3d0b52;
  width: 20%;
  height: 7%;
  position: absolute;
  top: 150px;
  right:360px;
}
.kilo{
  color: white;
  font-size: 25px;
  font-family: arial;
  font-weight: 400;
  text-align: center;
}
.status{
  color: white;
  font-size: 20.5px;
  font-family: arial;
  font-weight: 600;
  position: absolute;
  top: 210px;
  right: 460px;
}
.single{
  background-color: #3d0b52;
  width: 20%;
  height: 7%;
  position: absolute;
  top:240px;
  right:360px;
}
.single{
  color: white;
  font-size: 25px;
  font-family: arial;
  font-weight: 400;
  text-align: center;
}
.citizenship{
  color: white;
  font-size: 20.5px;
  font-family: arial;
  font-weight: 600;
  position: absolute;
  top: 300px;
  right: 435px;
}
.filipino{
  background-color: #3d0b52;
  width: 20%;
  height: 7%;
  position: absolute;
  top:330px;
  right:360px;
}
.filipino{
  color: white;
  font-size: 25px;
  font-family: arial;
  font-weight: 400;
  text-align: center;
}
.religion{
  color: white;
  font-size: 20.5px;
  font-family: arial;
  font-weight: 600;
  position: absolute;
  top: 390px;
  right: 450px;
}
.catholic{
  background-color: #3d0b52;
  width: 20%;
  height: 7%;
  position: absolute;
  top:420px;
  right:360px;
}
.catholic{
  color: white;
  font-size: 25px;
  font-family: arial;
  font-weight: 400;
  text-align: center;
}

.head1{
  color: white;
  font-size: 40px;
  font-family: arial;
  font-weight: 600;
  text-align: center;
}

.skillcontent{
  background-color: #8f2c8f;
  width: 100%;
  height: 395%;
  position:absolute;
  top: 135px;
  left: 0px;
}
.define{
  background-color: #3d0b52;
  width: 60%;
  height: 15%;
  color: white;
  font-size: 20.5px;
  font-family: arial;
  font-weight: 400;
  margin-left: 290px;
  text-align: center;
}

.head{
  color: white;
  font-size: 25px;
  font-weight: 600;
  font-family: arial;
  text-align:center;
  line-height: 30px;
}

.educationcontent{
  background-color: #8f2c8f;
  width: 100%;
  height: 395%;
  position:absolute;
  top: 135px;
  left: 0px;
}

.chuchu{
  background-color: #3d0b52;
  width: 50%;
  height: 12%;
  color: white;
  font-size: 25px;
  font-family: arial;
  font-weight: 400;
  margin-left: 340px;
  text-align: center;
}

.interestcontent{
  background-color: #8f2c8f;
  width: 100%;
  height: 395%;
  position:absolute;
  top: 135px;
  left: 0px;
}
